{# src/Phil/UserBundle/Resources/views/User/side.html.twig #}

{% if is_granted('ROLE_USER') %}
    <a href="{{ path('user_update') }}">User CP</a>
    <a href="{{ path('user_changepassword') }}">Change Password</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href='#2'>Admin CP</a>
    {% endif %}
    <a href="{{ path('logout') }}">Logout</a>
{% else %}
    <a href="{{ path('login') }}">Log-in</a>
    <a href="{{ path('user_register') }}">Register</a>
    <a href="{{ path('user_confirm') }}">Activate Account</a>
    <a href="{{ path('user_resendActivation') }}">Resend Activation</a>
    <a href="{{ path('user_forgotPassword') }}">Forgot Password</a>
{% endif %}