{# src/Phil/UserBundle/Resources/views/User/register.html.twig #}
{% extends 'PhilUserBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}philmowatt.com - register{% endblock %}

{% block content %}
    <h2>Register</h2>
    <p>If you have already registered and have not received your confirmation e-mail <a href="{{ path('user_resendActivation') }}">click here to resend it</a>.</p>
    {{ form(form) }}
{% endblock %}
