{# src/Phil/CMSBundle/Resources/views/Content/show.html.twig #}
{% extends 'PhilCMSBundle::layout.html.twig' %}

{% block title %}philmowatt.com - {{page.title}}{% endblock %}

{% block content %}
    <h2>{{page.title}}</h2>
    <p>{{page.content}}</p>
{% endblock %}
{% block footer %}
    <p>This page was created on {{page.created.format('Y-m-d H:i:s')}} and last updated on {{page.editted.format('Y-m-d H:i:s')}}.</p>
    <p>Website design, layout, and maintenence preformed by Phil Mowatt.</p>
{% endblock %}